<header>
    <div class="container bg-dark">
        <div>
            <a href="/"><img src="/public/images/WebLogo.jpg" alt="LOGO" class=""></a>
        </div>
        <nav>
            <ul>
                <li>home</li>
            </ul>
        </nav>
    </div>
</header>